*{
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.registrationPage{
  width: 600px;
  height: 900px;
  border: 1px solid black;
}

.card{
  width: 600px;
  border:2px solid black;
  height: 800px;
}

.nav{
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
  border: 1px solid blue;
}

.logo{
  width: 60px;
  height: 60px;
  border: 1px solid red;
  border-radius: 20px;
  background-color: green;
}

.title{
  background-color: red;
  text-align: left;
}